<div id="folder-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <h5 id="folder-modal-title">Folder Name</h5>
                <form id="folderForm" class="mt-4 px-3">
                    <div class="mb-3">
                        <label for="folderName" class="form-label">Folder Name</label>
                        <input class="form-control" type="text" id="folderName" name="name" required
                            placeholder="Enter Folder Name">
                    </div>
                    <div class="mb-3 text-center">
                        <button class="btn btn-primary rounded-pill" type="submit" id="folderFormSubmit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>