<div id="data-success-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modalw620">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="success_mdltxt text-center">
                    <div class="imgscs mb-3">
                        <img src="/img/icons/success.png" alt="Success Icon">
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <span class="avatar rounded bg-light mb-2" id="successFileIconContainer">
                            <img src="/img/icons/fn1.png" id="successFileIcon" alt="File Icon">
                        </span>
                        <div class="ms-2">
                            <p class="fs-14 mb-1 fw-normal" id="successFileName">Project Proposal v1</p>
                        </div>
                    </div>
                    <h4 class="fs-24 text-dark fw-medium mb-4" id="successMessageTitle">
                        Your File Restored Successfully
                    </h4>
                    <div class="mb-3 text-center">
                        <button class="btn btn-primary rounded-pill minw80" type="button" data-bs-dismiss="modal">
                            Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>