<div class="modal fade" id="trashdoc-modal" tabindex="-1" aria-labelledby="trashdocLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow p-3">
            <!-- Header -->
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title fw-bold" id="trashdocLabel">
                    <img class="" src="/img/icons/bin.png"> <br>
                    Move to Recycle Bin
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Body -->
            <div class="modal-body text-muted">
                Please confirm that you want to move the selected item(s) to the Recycle bin
            </div>

            <!-- Footer -->
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-light px-4 rounded-pill" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" id="confirm-trash-folder" class="btn btn-primary px-4 rounded-pill">Yes,
                    Move</button>
            </div>
        </div>
    </div>
</div>