<div class="sidebar" id="sidebar">
    <!-- Logo -->
    <div class="sidebar-logo">
        <a href="index.html" class="logo logo-normal">
            <img src="/img/logo.png" alt="Logo">
        </a>
        <a href="index.html" class="logo-small">
            <img src="/img/logo-small.svg" alt="Logo">
        </a>
        <a href="index.html" class="dark-logo">
            <img src="/img/logo-white.svg" alt="Logo">
        </a>
    </div>
    <!-- /Logo -->

    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="active subdrop">
                                <span class="menu-arrow"></span>
                                <i class="ti ti-layout-dashboard"></i>
                                <span class="menuname">Dashboard</span>
                            </a>
                            <ul class="dropdown_wrap">
                                <li><a href="#" class="active"> <i class="ti ti-chevron-right"></i> Admin</a>
                                </li>
                                <li><a href="#"> <i class="ti ti-chevron-right"></i> Employee</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="project-link">
                                <i class="ti ti-clipboard-list"></i><span class="menuname">Project</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="subdrop">
                                <span class="menu-arrow"></span>
                                <i class="ti ti-user-check"></i>
                                <span class="menuname">Approvals</span>
                            </a>
                            <ul class="dropdown_wrap">
                                <li><a href="#" class=""> <i class="ti ti-chevron-right"></i> Admin Approval</a>
                                </li>
                                <li><a href="#"> <i class="ti ti-chevron-right"></i> Employee Approval</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti ti-clipboard-text"></i><span class="menuname">Reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti ti-chart-bar-popular"></i><span class="menuname">Analytics</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="subdrop">
                                <span class="menu-arrow"></span>
                                <i class="ti ti-files"></i>
                                <span class="menuname">All Documents</span>
                            </a>
                            <ul class="dropdown_wrap">
                                <li><a href="#" class=""><i class="ti ti-chevron-right"></i>
                                        <i class="ti ti-folder-filled"></i>DMS</a></li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="subdrop">
                                        <i class="ti ti-chevron-right"></i>
                                        <i class="ti ti-folder-filled"></i>
                                        <span class="submenuname">TVM</span>
                                    </a>
                                    <ul class="dropdown_wrap">
                                        <li><a href="#" class=""><i class="ti ti-chevron-right"></i>
                                                <i class="ti ti-folder-filled"></i>Super Files</a></li>
                                        <li><a href="#" class=""><i class="ti ti-chevron-right"></i>
                                                <i class="ti ti-folder-filled"></i>HLFPPT</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="ti ti-chevron-right"></i>
                                        <i class="ti ti-folder-filled"></i>KVP</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="subdrop">
                                <span class="menu-arrow"></span>
                                <i class="ti ti-users-group"></i>
                                <span class="menuname">User Management</span>
                            </a>
                            <ul class="dropdown_wrap">
                                <li><a href="#" class=""> <i class="ti ti-chevron-right"></i> Assign
                                        Permissions</a></li>
                                <li><a href="#"> <i class="ti ti-chevron-right"></i> Roles and Permissions</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti ti-archive"></i><span class="menuname">Archive</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti ti-trash"></i><span class="menuname">Recycle Bin</span>
                            </a>
                        </li>
                        <li>
                            <!-- Sidebar / Mobile Menu Logout -->
                            <a href="javascript:void(0);" class="logout-btn">
                                <i class="ti ti-logout"></i><span class="menuname">Log out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>