<%- include('../../partials/header') %>

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content">
            <!-- Breadcrumb -->
            <div class="d-flex align-items-center justify-content-between page-breadcrumb mb-3">
                <div class="my-auto mb-2">
                    <h2 class="mb-1">Projects</h2>
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="#"><i class="ti ti-smart-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                Project List
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="rtbtn">
                    <a href="/projects/project-details" class="btn btn-primary btn-lg rounded-pill me-2 mb-2">
                        <i class="ti ti-plus me-1"></i>Add New Project
                    </a>
                </div>
            </div>
            <!-- /Breadcrumb -->

            <div class="project_wpr">
                <div class="prjsrch_row mb-5">
                    <i class="ti ti-search"></i>
                    <input type="text" class="form-control simplesrchbox" placeholder="Type in here..."
                        name="searchproject" id="projectSearch">
                </div>
                <div class="row projct_cardswrp" id="projectsContainer">
                    <!-- Project cards will be injected here dynamically -->
                </div>
                <div id="loader" class="text-center my-3" style="display:none;">
                    <p>Loading more projects...</p>
                </div>
            </div>

        </div>

        <div class="footer mt-4 d-sm-flex align-items-center justify-content-between border-top bg-white p-3">
            <p class="mb-0">2025 &copy; HLFPPT.</p>
            <p>Designed & Developed by <a href="javascript:void(0);" class="text-primary">Duplex services &
                    Technology</a></p>
        </div>

    </div>
    <!-- /Page Wrapper -->


    <script src="/js/pages/project.js"></script>

    <%- include('../../partials/footer') %>