<!-- Success Registration Modal -->
<div id="data-success-register" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modalw620">
        <div class="modal-content p-4">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="success_mdltxt text-center">
                    <div class="imgscs mb-3">
                        <img src="/img/icons/success.png" alt="Success Icon">
                    </div>
                    <h4 class="fs-24 text-dark fw-medium mb-4">
                        Your Registration has been <br> completed successfully
                    </h4>
                    <div class="mb-3 text-center">
                        <a class="btn btn-primary btn-w-lg rounded-pill" href="/users-list">View List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>