<%- include('../partials/header') %>

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content">
			<!-- Breadcrumb -->
			<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
				<div class="my-auto mb-2">
					<h2 class="mb-1">Notification (6 Unread)</h2>
					<nav>
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item">
								<a href="#"><i class="ti ti-smart-home"></i></a>
							</li>
							<li class="breadcrumb-item">
								Notification
							</li>
						</ol>
					</nav>
				</div>
			</div>
			<!-- /Breadcrumb -->
			<div class="card">
				<div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
					<div class="card-body p-0">
						<div class="custom-datatable-filter table-responsive">
							<table class="table datatable">
								<thead class="thead-light">
									<tr>
										<th></th>
										<th>Title</th>
										<th>Created Date</th>
										<th>File Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="action-icon d-inline-flex">
												<a href="#" class="me-2" data-bs-toggle="modal"
													data-bs-target="#edit_activity"><i class="ti ti-edit"></i></a>
												<a href="javascript:void(0);" data-bs-toggle="modal"
													data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
											</div>
										</td>
										<td>
											<p class="fs-14 text-dark fw-medium">We scheduled a meeting for next week
											</p>
										</td>
										<td>11-02-2025 11:20</td>
										<td> <a href="#" class="fs-16 text-primary fw-light">View</a> </td>
									</tr>
									<tr>
										<td>
											<div class="action-icon d-inline-flex">
												<a href="#" class="me-2" data-bs-toggle="modal"
													data-bs-target="#edit_activity"><i class="ti ti-edit"></i></a>
												<a href="javascript:void(0);" data-bs-toggle="modal"
													data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
											</div>
										</td>
										<td>
											<p class="fs-14 text-dark fw-medium">Arjun has added a new document and ask
												your approval </p>
										</td>
										<td>11-02-2025 11:20</td>
										<td> <button class="approvbtn btn btn-lg">Approve</button></td>
									</tr>
									<tr>
										<td>
											<div class="action-icon d-inline-flex">
												<a href="#" class="me-2" data-bs-toggle="modal"
													data-bs-target="#edit_activity"><i class="ti ti-edit"></i></a>
												<a href="javascript:void(0);" data-bs-toggle="modal"
													data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
											</div>
										</td>
										<td>
											<p class="fs-14 text-dark fw-medium">We scheduled a meeting for next week
											</p>
										</td>
										<td>11-02-2025 11:20</td>
										<td> <a href="#" class="fs-16 text-primary fw-light">View</a> </td>
									</tr>
									<tr>
										<td>
											<div class="action-icon d-inline-flex">
												<a href="#" class="me-2" data-bs-toggle="modal"
													data-bs-target="#edit_activity"><i class="ti ti-edit"></i></a>
												<a href="javascript:void(0);" data-bs-toggle="modal"
													data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
											</div>
										</td>
										<td>
											<p class="fs-14 text-dark fw-medium">Arjun has added a new document and ask
												your approval </p>
										</td>
										<td>11-02-2025 11:20</td>
										<td> <button class="approvbtn btn btn-lg">Approve</button></td>
									</tr>
									<tr>
										<td>
											<div class="action-icon d-inline-flex">
												<a href="#" class="me-2" data-bs-toggle="modal"
													data-bs-target="#edit_activity"><i class="ti ti-edit"></i></a>
												<a href="javascript:void(0);" data-bs-toggle="modal"
													data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
											</div>
										</td>
										<td>
											<p class="fs-14 text-dark fw-medium">We scheduled a meeting for next week
											</p>
										</td>
										<td>11-02-2025 11:20</td>
										<td> <a href="#" class="fs-16 text-primary fw-light">View</a> </td>
									</tr>
									<tr>
										<td>
											<div class="action-icon d-inline-flex">
												<a href="#" class="me-2" data-bs-toggle="modal"
													data-bs-target="#edit_activity"><i class="ti ti-edit"></i></a>
												<a href="javascript:void(0);" data-bs-toggle="modal"
													data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
											</div>
										</td>
										<td>
											<p class="fs-14 text-dark fw-medium">We scheduled a meeting for next week
											</p>
										</td>
										<td>11-02-2025 11:20</td>
										<td> <a href="#" class="fs-16 text-primary fw-light">View</a> </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer mt-4 d-sm-flex align-items-center justify-content-between border-top bg-white p-3">
			<p class="mb-0">2025 &copy; HLFPPT.</p>
			<p>Designed & Developed by <a href="javascript:void(0);" class="text-primary">Duplex services &
					Technology</a></p>
		</div>
	</div>
	<!-- /Page Wrapper -->

	<%- include('../partials/footer') %>