<table border="1">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Owner</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% if(documents.length===0) { %>
            <tr>
                <td colspan="3">No documents found</td>
            </tr>
            <% } else { %>
                <% documents.forEach(doc=> { %>
                    <tr>
                        <td>
                            <%= doc.fileName %>
                        </td>
                        <td>
                            <%= doc.owner %>
                        </td>
                        <td>
                            <%= doc.status %>
                        </td>
                    </tr>
                    <% }) %>
                        <% } %>
    </tbody>
</table>